#SettingsPageForm {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 2em;
  margin-right: 1em;
  margin-left: 1em;
  gap: 1.575em;
}

#SettingsPageForm input,
#SettingsPageForm select {
  font-size: 18pt;
  color: #333;
  background-color: #f6f6f6;
  border: none;
  border-bottom: 3pt solid #b90504;
  border-radius: 4px;
}

#SettingsPageForm input::placeholder,
#SettingsPageForm select::placeholder {
  color: #333;
}

#SettingsPageForm input:focus-visible,
#SettingsPageForm select:focus-visible {
  outline: none;
}

.LoginBtnsSection input {
  font-size: 18pt;
}

#SettingsPageInfo {
  padding: 1em;
  font-size: 18pt;
}

#SettingsPageInfo p {
  display: flex;
}

span {
  display: flex;
  font-weight: 600;
  margin-right: 0.3em;
  overflow: hidden !important;
}

label {
  font-size: 18pt;
  font-weight: 600;
  margin-right: 0.3em;
  overflow-x: hidden !important;
}

.IconContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.IconHover:hover {
  cursor: pointer;
  color: #b90504;
}

#SettingsPageOnEditInfo {
  font-size: 18pt;
  margin-left: 2em;
}

#SettingsPageOnEditInfo p {
  display: flex;
  margin-block-start: 1em;
  margin-block-end: -0.15em;
}

.SettingsPageEditItem {
  display: flex;
}

.SettingsPageEditItem label {
  flex: inherit;
}

.SettingsPageEditItem input,
.SettingsPageEditItem select {
  flex: auto;
}

#SettingsPageHeaderDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

#SettingsPageHeaderDiv h2 {
  flex-grow: 2;
}

#SettingsPageHeaderDiv #SettingsPageHeaderReturnBtn {
  align-self: flex-start;
}

#SettingsPageHeaderDiv #SettingsPageHeaderReturnBtn:hover {
  color: #990100;
}
