.NavBar {
  background-color: #b90504;
  border-bottom: 3px solid #333;
  position: fixed;
  top: 0px;
  z-index: 950;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 4fr 2fr 1fr;
  grid-template-rows: 1fr;
}

#LogoBoxLink {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

#LogoBox {
  display: flex;
  background-color: #f6f6f6;
  left: 3rem;
  height: 100%;
  align-self: center;
  align-items: center;
  gap: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  cursor: pointer;
}

#LogoBox img {
  height: 3rem;
  width: auto;
}

#LogoBox h1 {
  font-weight: bold;
  font-size: 1.125rem;
  user-select: none;
  color: #333;
}

@media screen and (max-width: 1150px) {
  #LogoBox img {
    height: 2em;
  }

  #LogoBox h1 {
    font-size: 0.75em;
  }
}

#ExitSpot {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f6f6f6;
}

#ExitSpot p {
  margin: 0;
  padding: 0;
}

#NavItemsBox {
  align-self: center;
  grid-row: 1 / 2;
  grid-column: 4 / 5;
}

#NavItemsBox ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

#NavItemsBox ul li {
  list-style-type: none;
  cursor: pointer;
  color: #f6f6f6;
}

#PopUpHelpMenuDivSection,
#PopUpAccountsMenuDivSection {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 1fr;
}

#PopUpHelpMenuDiv,
#PopUpAccountMenuDiv {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  border-top: none !important;
  border: 5px solid#333;
  background-color: #f6f6f6;
  padding: 1em;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom-left-radius: 10px;
}

#PopUpHelpMenuDiv li,
#PopUpAccountMenuDiv li {
  list-style-type: none;
  padding: 0.25em;
  color: #f6f6f6;
  font-size: 32px;
  cursor: pointer;
}

#PopUpHelpMenuDivTextField {
  background-color: #017f01;
  margin-bottom: 0.5em;
  border-radius: 10px;
  transition: box-shadow 0.2s ease-in-out;
}

#PopUpHelpMenuDivTextField:hover {
  box-shadow: 2px 2px 5px rgb(90, 90, 90);
}

#PopUpHelpMenuDivStructureField {
  background-color: #640665;
  margin-bottom: 0.5em;
  border-radius: 10px;
  transition: box-shadow 0.2s ease-in-out;
}

#PopUpHelpMenuDivStructureField:hover {
  box-shadow: 2px 2px 5px rgb(90, 90, 90);
}

#PopUpHelpMenuDivColorField {
  background-color: #da364a;
  border-radius: 10px;
  transition: box-shadow 0.2s ease-in-out;
}

#PopUpHelpMenuDivColorField:hover {
  box-shadow: 2px 2px 5px rgb(90, 90, 90);
}

#PopUpAddMenuDivSection {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 3fr 1fr;
}

#PopUpAddMenuDiv {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  border-top: none !important;
  border: 3px solid#333;
  background-color: #f6f6f6;
  padding: 1em;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 4px 4px 10px rgb(90, 90, 90);
}

#PopUpAddMenuForm {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  padding: 1em;
  gap: 2em;
}

#PopUpAddMenuForm input {
  font-size: 20pt;
  color: #333;
  background-color: #f6f6f6;
  border: none;
  border-bottom: 3pt solid #b90504;
  border-radius: 3px;
}

#PopUpAddMenuForm input::placeholder {
  color: #333;
}

#PopUpAddMenuForm input:focus-visible {
  outline: none;
}

#PopUpAddMenuHeaderDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

#PopUpAddMenuHeaderDiv h2 {
  flex-grow: 2;
}

#PopUpAddMenuHeaderDiv #PopUpAddMenuHeadeCloseBtn {
  align-self: flex-start;
}

#PopUpAddMenuHeaderDiv #PopUpAddMenuHeadeCloseBtn:hover {
  color: #990100;
}

#PopUpAddMenuDiv h2 {
  font-size: 34px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  color: #333333;
  border-bottom: 3px solid #333333;
  user-select: none;
}

.PopUpAccountMenuDivbtn {
  background-color: #b90504 !important;
  cursor: pointer;
  color: #f6f6f6 !important;
  border: none !important;
  border-radius: 10px !important;
  transition: box-shadow 0.2s ease-in-out;
}

.PopUpAccountMenuDivbtn:hover {
  box-shadow: 2px 2px 4px rgb(90, 90, 90);
}

.PopUpBackground {
  background-color: #33333387;
  height: 100vh;
  width: 100vw;
}

.GuestModeText {
  padding: 0px;
  margin: 0px;
  font-weight: 400;
  font-size: 12pt;
  color: #fff;
}

.GuestModeTextContainer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  grid-column: 3 / 5;
}

.CreateAccountButton {
  display: flex;
  margin-left: 3em;
  margin-right: 3em;
  cursor: pointer;
  background-color: #b90504;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: #fff;
  box-shadow: 0px 0px 4px rgb(255, 255, 255);
  padding: 4px 8px 4px 8px;
  transition: 0.3s box-shadow ease-in-out;
}

.CreateAccountButton:hover {
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.DragAndDropSection {
  cursor: copy;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #e1e1e1;
  border-radius: 15px;
  /* padding: 1em; */
  border: 1px dashed #a2a2a2;
  transition: 0.3s all ease-in-out;
  overflow: hidden;
}

.DragAndDropSection:hover {
  background-color: #33333387;
  border: 1px dashed #b90504;
  content-visibility: inherit;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: #fff;
  border-radius: 6px;
  padding: 0.5em;

  position: absolute;
  z-index: 99999;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.spinning_loader {
  font-size: 32px;
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinning_loader_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
