.NavBar {
  background-color: #B90504;
  border-bottom: 3px solid #333;
  position: fixed;
  top: 0px;
  z-index: 950;
  width: 100%;
  height: 3rem; 
  display: grid;
  grid-template-columns: 1fr 3fr 4fr 2fr 1fr;
  grid-template-rows: 1fr;
}

#LogoBox {
  display: flex;
  background-color: #f6f6f6;
  left: 3rem;
  width: fit-content;
  height: fit-content;
  align-self: center;
  align-items: center;
  gap: 1rem;
  padding-left: 2rem;
  padding-right: 2rem; 
  cursor: pointer;
}

#LogoBox img {
  height: 3rem;
  width: auto;
}

#LogoBox h1 {
  font-weight: bold;
  font-size: 1.125rem;
  user-select: none;
}


#ExitSpot {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f6f6f6;
}

#ExitSpot p {
  margin: 0;
  padding: 0;
}

#NavItemsBox {
  align-self: center;
}

#NavItemsBox ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

#NavItemsBox ul li{
  list-style-type: none;
  cursor: pointer;
  color: #f6f6f6;
}

#PopUpHelpMenuDivSection {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 5fr 2fr 1fr;
}

#PopUpHelpMenuDiv {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  border-top: none !important;
  border: 5px solid#333;
  background-color: #f6f6f6;
  padding: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

#PopUpHelpMenuDiv li {
  list-style-type: none;
  padding: .25em;
  color: #f6f6f6;
  font-size: 32px;
  cursor: pointer;
}

#PopUpHelpMenuDivTextField {
  background-color: #017F01;
  margin-bottom: .5em;
}

#PopUpHelpMenuDivStructureField {
  background-color: #640665;
  margin-bottom: .5em;
}

#PopUpHelpMenuDivColorField {
  background-color: #DA364A;
}