.NavBar {
  background-color: #B90504;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 3rem; 
  display: grid;
  grid-template-columns: 1fr 3fr 4fr 2fr 1fr;
  grid-template-rows: 1fr;
  border-bottom: 3px solid #333;
}

#LogoBox {
  display: flex;
  background-color: #f6f6f6;
  left: 3rem;
  width: fit-content;
  height: fit-content;
  align-self: center;
  align-items: center;
  gap: 1rem;
  padding-left: 2rem;
  padding-right: 2rem; 
  cursor: pointer;
}

#LogoBox img {
  height: 3rem;
  width: auto;
}

#LogoBox h1 {
  font-weight: bold;
  font-size: 1.125rem;
  user-select: none;
}

#NavItemsBox {
  align-self: center;
}

#NavItemsBox ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

#NavItemsBox ul li{
  list-style-type: none;
  cursor: pointer;
  color: #f6f6f6;
}
