#SettingsPageForm {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 2em;
    margin-right: 1em;
    margin-left: 1em;
    gap: 2em;
}

#SettingsPageForm input {
    font-size: 18pt;
    color: #333;
    background-color: #f6f6f6;
    border: none;
    border-bottom: 3pt solid #B90504;
    border-radius: 4px;
}

#SettingsPageForm input::placeholder {
    color: #333;
}

#SettingsPageForm input:focus-visible {
    outline: none;
}

.LoginBtnsSection input {
    font-size: 18pt;
}

#SettingsPageInfo {
    padding: 2em;
    font-size: 18pt;
}

#SettingsPageInfo p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}