#Content404 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

#Content404 button {
  border-radius: 5px;
  font-size: 20px;
  padding: 0.2em;
  padding-left: 0.6em;
  padding-right: 0.6em;
}
